//------------------------------------------------------------------------
// Main
//------------------------------------------------------------------------

// General
//------------------------------------------------------------------------
body
  background: $color-white
  font-family: $font-face-primary
  font-size: $font-size-base
  line-height: $line-height-base
  color: $color-black

.logo
  background-image: url('/assets/images/logo.png')
  width: 170px
  height: 205px

.header-content
  background-color: gray
  display: inline-block
  height: 100%  

.feed
  h1
    font-size: 30px
  .event
    display: inline-block
    width: 100%
    background-color: $color-grayLight
    padding: 10px
    color: $color-gray

