---
title:   25este.com
layout:  main
classes: home
---
.row-fluid
  .span12{"ng-controller" =>"AppCtrl"}
    .row-fluid
      =partial "partials/header"

.row-fluid
  =partial "partials/events"
  .container
    .span12{"ng-controller" =>"EventsFeedCtrl"}
      .row-fluid
        .span3.feed
          %span.event{ 'ng-repeat' => "event in events.posts" }
            %a{ href: '/#/event/{{event.id}}' }
              %h4
                {{event.title_plain}}
        .span9.main-content
          %ng-view
    